APP_ENV=development
APP_PORT=8000

FRONTEND_URL=http://localhost:5173

USE_MOCK_DATA=true
USE_AWS_SERVICES=false

AI_MODE=mock
DATA_SOURCE=mock

AWS_REGION=
BEDROCK_MODEL_ID=

AWS_REGION_NAME=ap-southeast-2
CUSTOMER_TABLE_NAME=FutureYouCustomers

DYNAMODB_CUSTOMER_TABLE=future-you-customers
DYNAMODB_SIMULATION_TABLE=future-you-simulations
